<!doctype html>

<html>
    <head>
        <!-- TODO: Use the minified version for production use! -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
        <script src="http://code.angularjs.org/1.5.3/angular-resource.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>

        <script src="/static/js/app.js"></script>
        <script src="/static/js/controllers.js"></script>
        <script src="/static/js/services.js"></script>
    </head>
    <body data-ng-app="notte">
        <ui-view></ui-view>
    </body>
</html>
